* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Courier, monospace;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

img {
  display: none;
}

#stats {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

#screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
